* {
    border: 1px solid #ff0000
}

:root {
    --primary-color: #246cb4;
    --secondary-color: #2c5c84;

}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
}

#links a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: smaller;
    display: inline-block;
}

/*SECOND SECTION */

#logo img {
    height: 75px;
}

#second-section {
    text-align: center;
}

#name-hospital {
    align-items: center;
}

#name-hospital p {
    color: var(--primary-color);
}

/*NAV BAR*/
#header-bar {
    margin: auto;
    width: 100%;
}

#header-bar ul,
ol {
    list-style: none;
}